<form method="post" action="{{ path('back_partenaire_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('partenaire_delete_' ~ partenaire.id) }}">
    <button class="fr-btn fr-btn--danger fr-fi-delete-line fr-btn--sm"></button>
</form>
