<form method="post" action="{{ path('back_situation_delete', {'id': situation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette situation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('situation_delete_' ~ situation.id) }}">
    <button class="fr-btn fr-btn--danger fr-fi-delete-line fr-btn--sm"></button>
</form>
