<template id="dsfr_modal_template">
    <dialog aria-labelledby="fr-modal-___ID___-title" id="fr-modal-___ID___" class="fr-modal" role="dialog" data-controller="modal" data-action="dsfr.conceal->modal#destroy">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <h1 id="fr-modal-___ID___-title" class="fr-modal__title fr-fi-arrow-right-line"></h1>
                        </div>
                        <div class="fr-modal__content">
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button class="fr-btn fr-fi-check-line" id="fr-modal-___ID___-validate__btn">
                                        Valider
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn fr-fi-close-line fr-btn--secondary" aria-controls="fr-modal-___ID___">
                                        Fermer
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</template>